/* Additional styles */

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

/* Element styles */
* {
  text-decoration: none;
}

body {
  background-image: url("../img/bg.png");
  background-color: rgba(255, 255, 255, 0.9);
  background-size: cover;
  background-position: -10px -10px;
  background-repeat:no-repeat;
  background-attachment:fixed;
  overflow: hidden;
  transition: transform .5s ease-out;
}

li {
  transition: background 0.2s ease-in-out;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul, nav li {
  outline: 0;
  margin: 50px 0;
  padding: 0;
}

/* Landing styles */
.landing {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
  opacity: 0.9;
}

.landing-container {
  width: 75%;
  height: 75%;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

.landing-container h1 {
  font-size: 5em;
  letter-spacing: 10px;
}

.landing-container h3 {
  width: 40%;
  height: 6%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #fff;
  outline: none;
  letter-spacing: 5px;
  font-size: 2em;
}

/* Navbar styles */
.fa {
  padding: 10px;
  position: relative;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 2.5em;
}

.main-menu {
  background: rgba(204,43,94, 0.9);
  background: -webkit-linear-gradient(to bottom, rgba(117,58,136,0.9), rgba(204,43,94,0.9));
  background: linear-gradient(to bottom, rgba(117,58,136,0.9), rgba(204,43,94,0.9));
  box-shadow: 3px 0 20px 0 rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 5%;
  overflow: hidden;
  z-index: 1;
}

.main-menu>ul {
  margin: 0;
  text-align: center;
}

.main-menu>li {
  position: relative;
  padding: 50px 0;
  margin: 25px 0;
  display: block;
}

.main-menu li {
  position: relative;
  display: block;
  color: #ffffff;
}

.main-menu .nav-icon {
  position: relative;
  width: 60px;
  height: 60px;
}

.main-menu .nav-text {
  position: relative;
  font-size: 1em;
  font-family: 'Titillium Web', sans-serif;
}

.player {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 10px;
}

.main-menu li:hover {
  background-color: rgba(255,255,255,0.1);
}

/* Panels / Panel Container */
.panel {
  position: absolute;
  width: 95%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -100%;
}

.container {
  width: 75%;
  height: 75%;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  color: #ffffff;
  overflow: auto;
}

.label {
  font-size: 3em;
  letter-spacing: 0.1em;
}

/* About section styles */
#about {
  background: rgba(204,43,94, 0.6);
  background: -webkit-linear-gradient(to bottom, rgba(117,58,136,0.6), rgba(204,43,94,0.6));
  background: linear-gradient(to bottom, rgba(117,58,136,0.9), rgba(204,43,94,0.9));
  font-family: 'Titillium Web', sans-serif;
}

#about p {
  width: 60%;
  font-size: 1.25em;
  float: left;
  text-align: justify;
}

#about img {
  width: 25%;
  height: 25%;
  margin-right: 2.5em;
  float: right;
  border-radius: 3px;
  display: inline-block;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* Media section styles */
#media {
  background: rgba(204,43,94, 0.6);
  background: -webkit-linear-gradient(to bottom, rgba(117,58,136,0.6), rgba(204,43,94,0.6));
  background: linear-gradient(to bottom, rgba(117,58,136,0.9), rgba(204,43,94,0.9));
  font-family: 'Titillium Web', sans-serif;
}

#media img {
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin: 20px;
}

#media #img-1 {
  width: 50%;
  height: 50%;
  position: relative;
}

#media #img-2 {
  width: 50%;
  height: 50%;
  position: relative;
  float: right;
  margin-right: 150px;
}

#media #img-3 {
  width: 50%;
  height: 50%;
  position: relative;
}

#media #img-4 {
  width: 50%;
  height: 50%;
  position: relative;
  float: right;
  margin-right: 150px;
}

/* Events section styles */
#events {
  background: rgba(204,43,94, 0.6);
  background: -webkit-linear-gradient(to bottom, rgba(117,58,136,0.6), rgba(204,43,94,0.6));
  background: linear-gradient(to bottom, rgba(117,58,136,0.9), rgba(204,43,94,0.9));
  font-family: 'Titillium Web', sans-serif;
}

#events h3 {
  width: 100%;
  font-size: 1.5em;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 100px;
}

#events i {
  width: 100%;
  font-size: 5em;
  text-align: center;
}

/* Contact section styles */
#contact {
  background: rgba(204,43,94, 0.6);
  background: -webkit-linear-gradient(to bottom, rgba(117,58,136,0.6), rgba(204,43,94,0.6));
  background: linear-gradient(to bottom, rgba(117,58,136,0.9), rgba(204,43,94,0.9));
  font-family: 'Titillium Web', sans-serif;
}

#contact h3 {
  width: 100%;
  font-size: 1.5em;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 100px;
}

#contact i {
  width: 100%;
  font-size: 5em;
  text-align: center;
}

/* Player */
.player-panel {
  position: absolute;
  width: 95%;
  height: 90px;
  bottom: -100%;
  right: 0;
}

.player-container {
  width: 75%;
  height: 75%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

#player {
  background: rgba(204,43,94, 0.6);
  background: -webkit-linear-gradient(to left, rgba(117,58,136,0.6), rgba(204,43,94,0.6));
  background: linear-gradient(to left, rgba(117,58,136,0.9), rgba(204,43,94,0.9));
  font-family: 'Titillium Web', sans-serif;
}

#player h3 {
  letter-spacing: 2px;
  text-align: center;
}

#player i {
  font-size: 1.25em;
}

/* Custom Scrollbar stuff */
.container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgba(0,0,0,0);
}

.container::-webkit-scrollbar
{
	width: 3px;
	background-color: rgba(0,0,0,0);
}

.container::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
	background-color: #ffffff;
}
