/* Additional styles */

.section {
  margin-top: 50px; 
}

.heading {
  border-bottom: 1px solid #D1D1D1;
  padding: 0.5em;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.image {
  max-width: 75%;
  padding: 1em;
}
